#form_envio > .contactusform {
	width: 460px;
	height: auto;
	margin: 0px auto;
	border-radius: 10px;
	padding-top: 0px;
	padding-bottom: 20px;
	background-color: var(--amarillo);
	padding-left: 30px;
}

#form_envio > input {
	background-color: #fbfbfb;
	width: 408px;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--oro);
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}


#form_envio > textarea {
	background-color: #fbfbfb;
	width: 405px;
	height: 150px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ab4493;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
}


#form_envio > label {
	display: block;
}


#form_envio > button p{
	color: #fff;
}


#form_envio > span {
	color: #ab4493;
}


#form_envio > .aviso {
	font-size: 13px;
	color: #0e0e0e;
}


#form_envio > h1 {
	font-size: 39px;
	color: #ab4493;
}


#form_envio > h3 {
	font-size: 16px;
	padding-bottom: 0px;
	color: #0e0e0e;
}


#form_envio > p {
	font-size: 14px;
	color: #0e0e0e;
}


::-webkit-input-placeholder {
	color: #a8a8a8;
}


::-webkit-textarea-placeholder {
	color: #a8a8a8;
}

