.product__box {
    display: table-cell;
    width: 100vw;
    background-color: var(--blanco);
    border-bottom: 1px solid gray;
 }
 .product__box >img{
  float: left;
  margin-left: 1vw;
  margin-top: 1vh;
 }
 .product__name {
     float: right;
     font-size: 8vw;
     display: inherit;
     height: auto;
     width: 52vw;
 }
 .product__imagen {
  width: 20vw;
  height:auto;
 }
 .product__prize {
     color: var(--negro);
     font-size: 8vw;
     float: right;
}
.product__prize >h3{
  display: inline;
  vertical-align: top;
}
.product__amount {
  display:flex;
  float: left;
  align-items: inherit;
  height: auto;
  }
.product__number {
  color: var(--oro);
  font-size: 6vw;
  text-align: center;
}
.product__number >p{
   display: inline;
   vertical-align: top;
}
.product__button {
  width: 3vh;
  height: 3vh;
  border: 0.2vh solid var(--oro);
  border-radius: 100%;
  position: relative;
  background-color: var(--blanco);
}
.product__button > div {
  height: .3vh;
  width: 3vw;
  background-color: var(--oro);
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;
}

.product__button > div:nth-last-of-type(2) {
transform: rotate(90deg);
}

 @media screen and (min-width: 1px) and (max-width: 200px){
     .product__name {
         font-size: 1.3vh;
         line-height: 2vh;
     }
     .product__prize {
      font-size: 2vh;
     }
     .product__number {
      width: 4vw;
      font-size:2vh;
     }
     .product__button {
      border: 0.5vh solid var(--oro);
      height: 7vw;
      width: 7vw;
     }
   }
   @media screen and (min-width: 200px) and (max-width: 300px){
     .product__name {
         font-size: 1.2vh;
         line-height: 3vh;
     }
     .product__prize {
      font-size:2vh;
    }
    .product__number {
      width: 6vw;
      font-size:3vh;
     }
     .product__button {
      border: 0.5vh solid var(--oro);
      height: 6vw;
      width: 6vw;
     }
   }
   @media screen and (min-width: 300px) and (max-width: 400px){
    .product__name {
        font-size: 1vh;
        line-height: 2vh;
    }
    .product__prize {
     font-size:2vh;
   }
   .product__number {
     width: 6vw;
     font-size:3vh;
    }
    .product__button {
     border: 0.5vh solid var(--oro);
     height: 6vw;
     width: 6vw;
    }
  }
   @media screen and (min-width: 400px) and (max-width: 600px){
     .product__name {
         font-size:1.2vh;
         line-height: 2vh;
     }
     .product__prize {
      font-size:2vh;
    }
    .product__number {
      width: 6vw;
      font-size:3vh;
     }
     .product__button {
      border: 0.5vh solid var(--oro);
      height: 6vw;
      width: 6vw;
     }
   }
   @media screen and (min-width: 600px) and (max-width: 800px){
     .product__name {
         font-size: 3vh;
         line-height: 4vh;
     }
     .product__prize {
      font-size:4vh;
    }
    .product__number {
      width: 6vw;
      font-size:5vh;
     }
     .product__button {
      border: 0.5vh solid var(--oro);
      height: 6vw;
      width: 6vw;
     }
   }
   @media screen and (min-width: 800px) and (max-width: 900px){
    .product__name {
        font-size: 1.7vh;
        line-height: 2vh;
    }
    .product__prize {
     font-size:4vh;
   }
   .product__number {
     width: 6vw;
     font-size:5vh;
    }
    .product__button {
     border: 0.5vh solid var(--oro);
     height: 6vw;
     width: 6vw;
    }
  }
   @media screen and (min-width: 900px) and (max-width: 1600px){
     .product__name {
         font-size: 2vh;
         line-height: 3vh;
     }
     .product__prize {
      font-size: 4vh;
    }
    .product__number {
      width: 6vw;
      font-size:5vh;
     }
     .product__button {
      border: 0.5vh solid var(--oro);
      height: 4vw;
      width: 4vw;
     }
   }
   @media screen and (min-width: 1600px) and (max-width: 2600px){
     .product__name {
         font-size: 2vh;
         line-height: 3vh;
     }
     .product__prize {
      font-size: 4vh;
    }
    .product__number {
      width: 5vw;
      font-size:4vh;
     }
     .product__button {
      border: 0.5vh solid var(--oro);
      height: 6vw;
      width: 6vw;
     }
   } 
   @media screen and (min-width: 2600px) and (max-width: 8000px){
     .product__name {
         font-size: 2vh;
         line-height: 3vh;
     }
     .product__prize {
      font-size: 2vh;
    }
    .product__number {
      width: 4vw;
      font-size:3vh;
     }
     .product__button {
      border: 0.5vh solid var(--oro);
      height: 6vw;
      width: 6vw;
     }
   } 
