/* RESET */
* {box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, p, blockquote, figure { margin:0}
img {max-width: 20vw; height: auto; display: block;}
figure, picture {display: block;}
textarea {outline: none; width: 100%;}
ul, ol {margin:0;padding:0;list-style: none;}
a,a:active, a:visited {text-decoration: none;}

/* VARIABLES */

:root {
    --rojo: #E91F27;
    --amarillo: #FFE455;
    --oro: #cda434;
    --negro: #191b1c;
    --blanco: #ffffff;
    --azul: royalblue;
    --gris: #D3D3D3;
    --rosa: #ab4493;
}

body {
    font-family: 'Arima Madurai', cursive;
    color: var(--negro);
}


    /*------Categories--------*/

.header {
    width: 100vw;
    height: 10vh;
    border: 0;
    padding: 0;
    top: 0; bottom:0; left: 0; right: 0; 
    background-color: var(--blanco);
    background-image: url('../img/IMAGE-BG-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
    display: flex;
    justify-content: left;
    align-items: center;
    transition: transform 0.3s;
}

.header__title {
    width: 100vw;
    font-family: 'Arima Madurai', cursive;
    font-weight: 800;
    font-size: 5vh;
    color: var(--blanco);
    position: relative;
    text-align: center;
}

main {
    position: fixed;
    height: 85vh;
    width: 100vw;
    top: 10vh;
    overflow-y: auto;
    background-color: var(--blanco);;
    text-align: left;
    font-size:6vw;
} 
.main-carta {
  position: fixed;
  height: 85vh;
  width: 100vw;
  top: 10vh;
  overflow-y: auto;
  background-color: var(--blanco);;
  text-align: left;
  font-size:6vw;
} 
.nav{
  position: fixed;
  width: 40vw;
  top:10vh;
}

.main-menu{
  height: 85vh;
  line-height: 6vh;
  background-color: var(--blanco);
  overflow-y: auto;
}
.menu__categories-item{
  background-color: var(--blanco);
  color: var(--negro);
  font-size:5vw;
  word-wrap:break-word;
  border-bottom: 1px solid gray;
} 
.menu__categories-item:hover {
  background-color:var(--gris);
}


/*-------Product page----------*/

.container {
    display: flex;
}
.menu {
    width: 100px;
}
.menu__arrow {
    width: 100px;
    height: 100px;
    background-color: var(--rojo);
}
.menu__categories {
    background-color: var(--blanco);
    height: calc(100vh - 200px);
}

/* -- menu_ver.css -- */
@media screen and (min-width: 1px) and (max-width: 200px){
  .nav {
    width: 25vw;
  }
  .menu__categories-item {
        font-size:7vw;
    }
  main {
     margin-left: 25vw;
  }
}
@media screen and (min-width: 200px) and (max-width: 400px){
  .nav {
    width: 25vw;
  }
  .main-menu{
    line-height: 4vh;  
 }
  .menu__categories-item {
        font-size:5vw;
    }
  main {
     margin-left: 25vw;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px){
  .nav {
    width: 25vw;
  }
  .main-menu{
     line-height: 4vh;  
  }
  .menu__categories-item {
        font-size:4vw;
    }
  main {
     margin-left: 25vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px){
  .nav {
    width: 20vw;
  }
   .main-menu{
    line-height: 4vh;  
 }
   .menu__categories-item {
     font-size:3vw;
    }
  main {
    margin-left: 20vw;
  }
}
@media screen and (min-width: 900px) and (max-width: 1600px){
   .nav {
    width: 25vw;
   }
   .menu__categories-item {
       font-size:3vw;
    }
   main {
     margin-left: 25vw;
  }
}
@media screen and (min-width: 1600px) and (max-width: 8000px){
  .nav {
    width: 20vw;
  }
    .menu__categories-item {
       font-size: 2vw;
    }
  main {
     margin-left: 20vw;
  }
}
  @media screen and (min-width: 2600px) and (max-width: 8000px){
    .nav {
      width: 20vw;
    }
    .menu__categories-item {
       font-size:2vw;
    }
    main {
      margin-left: 20vw;
   }

  }
  .pie-app {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color:var(--amarillo);
  }
.logo-pie{
    width: 20vw;
    height: 8vh;
    text-align: left;
    justify-content: center;
    background-color: var(--amarillo);
 }  
 img{
    max-width: 20vw;
    height: 5vh;
 }
.products-cart-button{
    background-color: var(--negro);
    color:var(--blanco);
    text-align: center;
    width: 40vw;
    height: 5vh;
    font-size: 2vh;
    border-color: var(--amarillo);
}
