/* RESET */
* {box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, p, blockquote, figure { margin:0}
img {max-width: 20vw; height: auto; display: block;}
figure, picture {display: block;}
textarea {outline: none; width: 100%;}
ul, ol {margin:0;padding:0;list-style: none;}
a,a:active, a:visited {text-decoration: none;}

/* VARIABLES */

:root {
    --rojo: #E91F27;
    --amarillo: #FFE455;
    --negro: #191b1c;
    --blanco: azure;
    --azul: royalblue;
}

body {
    font-family: 'Arima Madurai', cursive;
    color: var(--negro);
}


    /*------Categories--------*/

.header {
    width: 100vw;
    height: 10vh;
    border: 0;
    padding: 0;
    background-color: var(--blanco);
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    transition: transform 0.3s;
}

.header::before {
    content: "";
    position: absolute;
    top: 0; bottom:0; left: 0; right: 0; 
    margin-left: 0;
    background-image: url('../img/IMAGE-BG-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
}

.header__title {
    padding: 20px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 800;
    font-size: 36px;
    color: var(--blanco);
    position: relative;
}
main {
    height: calc(100vh - 180px);
    padding: 20px;
    width: 100vw;
    top: 10vh;
    bottom: 95vh;
    margin-left: 20vw;
    position: fixed;
    overflow-y: auto;
    background-color: azure;
    text-align: left;
    padding: 0rem 0rem;
    font-size:6vw;
} 

.categories {
    background-color: var(--blanco);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
}
.categories__icon {
    width: 100px;
    height: 80px;
    position: relative;
}
.categories__title {
    font-family: 'Arima Madurai', cursive;
    font-weight: 400;
    color: var(--negro);
    font-size: 32px;
}

/*-------Product page----------*/

.container {
    display: flex;
}
.menu {
    width: 100px;
}
.menu__arrow {
    width: 100px;
    height: 100px;
    background-color: var(--rojo);
}
.menu__categories {
    background-color: var(--blanco);
    height: calc(100vh - 200px);
}

/* -- menu_ver.css -- */
.nav{
  display: fixed;
  padding-top: 10vw;
  padding-bottom: 10vw;
  vertical-align: middle;
  text-align: center;
  width: 20vw;
  top:10vh;
  background-color: var(--blanco);
  flex-wrap:wrap;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

@media screen and (min-width: 1px) and (max-width: 200px){
  .nav {
    width: 40vw;
  }
    .menu__categories-item {
        font-size:7vw;
    }
  main {
     font-size:6vw;
  }
}
@media screen and (min-width: 200px) and (max-width: 400px){
  .nav {
    width: 40vw;
  }
    .menu__categories-item {
        font-size:6vw;
    }
  main {
     font-size:5vw;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px){
  .nav {
    width: 20vw;
  }
    .menu__categories-item {
        font-size:5vw;
    }
  main {
     font-size:3vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px){
  .nav {
    width: 20vw;
  }
    .menu__categories-item {
       font-size:4vw;
    }
  main {
     font-size:4vw;
  }
}
@media screen and (min-width: 900px) and (max-width: 1600px){
  .nav {
    width: 20vw;
  }
    .menu__categories-item {
       font-size:3vw;
    }
  main {
      margin-left: 20vw;
  }
}
@media screen and (min-width: 1600px) and (max-width: 8000px){
  .nav {
    width: 20vw;
  }
    .menu__categories-item {
       font-size: 3vw;
    }
  main {
     margin-left: 20vw;
  }
}
  @media screen and (min-width: 2600px) and (max-width: 8000px){
    .menu__categories-item {
       font-size:2vw;
    }
  main {
     margin-left: 20vw;
  }
  }
.main-menu{
     top:10vh;
     line-height: 6vh;
     overflow-y: auto;
  }   

  .menu__categories-item{
     background-color: var(--blanco);
     color: var(--negro);
     font-size:5vw;
     word-wrap:break-word;
     border-style: double;
  } 
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color:var(--blanco);
  }
.logo-pie{
    width: 20vw;
    text-align: left;
    justify-content: center;
    background-color: var(--blanco);
 }  
 img{
    max-width: 20vw;
 }
.products-cart-button{
    background-color: var(--negro);
    color:var(--blanco);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40vw;
    height: 100vh;
    font-size: 2vh;
    flex-wrap: nowrap;
}

.mi-cuenta{
    width: 40%;
    text-align: center;
    justify-content: center;
}

.abrir {
    cursor: pointer;
    display:inline-block;
}

.cerrar {
    cursor: pointer;
    display:none;
}

input#pedido:checked + .toggle-button .abrir {
    display:none;
}

input#pedido:checked + .toggle-button .cerrar {
    display:inline-block;
}

input[type=checkbox]
{
    width: 5vw;
    height: 1vh;
  /* Doble-tamaño Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari y Chrome */
  -o-transform: scale(3); /* Opera */
  padding: 5px;
}
